name: Validação de Ambiente

on:
  workflow_dispatch:

jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
      - name: Validação de Branch
        run: echo 'Branch ${{ github.ref_name }}'

      - name: Deploy PRD
        if: github.ref_name == 'main'
        run: echo 'Deploy realizado em PRD'

      - name: Deploy QA
        if: github.ref_name == 'develop'
        run: echo 'Deploy realizado em QA'

  build:
      uses: ./.github/workflows/build.yml
      with:
        success: "true"

  avisa:
      runs-on: ubuntu-latest
      needs: [build]
      steps:
        - run: echo "O Workflow Compartilhado 'Build' terminou de ser executado"
