name: primeiro_worklow

on:
    push:
        branches:
            - main

jobs:
    giropops:
        runs-on: ubuntu-latest
        steps:
            - name: Verificar SO
              run: cat /etc/os-release

            - name: exibir mensagem
              run: echo 'CONCLUIDO'

        